{% extends "FOSUserBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block fos_user_content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-error alert-block">
            {% for error in errors %}
                <p>
                {{
                error.messagePluralization is null
                ? error.messageTemplate|trans(error.messageParameters, 'validators')
                : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
                </p>
            {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
